@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.container {
	text-align: center;
	margin-top: 5rem;
	font-family: "Poppins", sans-serif;
}
.container h1 {
	font-weight: 600;
}
.name-list {
	list-style-type: none;
	margin-top: 2rem;
	max-width: 500px;
	margin-inline: auto;
	padding: 2rem 1rem;

	background-color: #e5e7eb;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.name-item {
	border-radius: 5px;
	padding: 0.5rem;
	background-color: #f8fafc;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
